<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoolette</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100" rel="stylesheet" type="text/css">
  <!-- Global CSS -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <!-- Plugins CSS -->
  <%= stylesheet_link_tag "font-awesome" %>
  <%= stylesheet_link_tag "flexslider" %>
  <!-- Theme CSS -->
  <%= stylesheet_link_tag "styles" %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "jquery.min" %>
  <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24707561-18', 'auto');
      ga('send', 'pageview');

  </script>
  <script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.aec556e1a316f63b43fda3ae1e6a3e10.js"></script>
  <script src='https://www.google.com/recaptcha/api.js'></script>
</head>

<body class="signup-page access-page has-full-screen-bg">
<div class="upper-wrapper">
  <!-- ******HEADER****** -->
  <header class="header">
    <div class="container">
      <h1 class="logo">
        <a href="/"><span class="logo-icon"></span><span class="text">Schoolette</span></a>
      </h1><!--//logo-->

    </div><!--//container-->
  </header><!--//header-->

  <!-- ******Signup Section****** -->
  <section class="signup-section access-section section">
    <div class="container">
      <div class="row">
        <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
          <div class="form-box-inner">
            <h2 class="title text-center">Sign up now</h2>
            <p class="intro text-center">It only takes a minute</p>
            <div class="row">
              <div class="form-container col-md-5 col-sm-12 col-xs-12">
                <form class="signup-form" action="users/addUser" method="post">
                  <div class="form-group email">
                    <label class="sr-only" for="signup-email">Your email</label>
                    <input id="signup-email" name="signupemail" type="email" class="form-control login-email" placeholder="Your email">
                  </div><!--//form-group-->
                  <div class="form-group password">
                    <label class="sr-only" for="signup-password">Your password</label>
                    <input id="signup-password" name = "signuppassword" type="password" class="form-control login-password" placeholder="Password">
                  </div><!--//form-group-->
                  <div class = "form-group col-md-3 col-sm-6 col-xs-6">
                    <div class="g-recaptcha" data-sitekey="6LfRWQ8TAAAAABMs1pymlHTp9apKz2N6gSuBlgJe"></div>
                  </div>

                  <button type="submit" class="btn btn-block btn-cta-primary">Sign up</button>
                  <p class="note">By signing up, you agree to our terms of services and privacy policy.</p>
                  <p class="lead">Already have an account? <a class="login-link" id="login-link" href="login">Log in</a></p>

                </form>
              </div><!--//form-container-->
              <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
                <div class="divider"><span>Or</span></div>
                <ul class="list-unstyled social-login">
                  <li><button class="twitter-btn btn" type="button"><%= fa_icon "fa-fa-twitter"%>Sign up with Twitter</button></li>
                  <li><button class="facebook-btn btn" type="button"><%= fa_icon "fa-facebook"%>Sign up with Facebook</button></li>
                  <li><button class="google-btn btn" type="button"><%= fa_icon "a-google-plus"%></i>Sign up with Google</button></li>
                </ul>
                <p class="note">Don't worry, we won't post anything without your permission.</p>
              </div><!--//social-login-->
            </div><!--//row-->
          </div><!--//form-box-inner-->
        </div><!--//form-box-->
      </div><!--//row-->
    </div><!--//container-->
  </section><!--//signup-section-->
</div><!--//upper-wrapper-->
<%= javascript_include_tag "jquery-1.11.2.min" %>
<%= javascript_include_tag "jquery-migrate-1.2.1.min" %>
<%= javascript_include_tag "jquery.flexslider-min" %>
<%= javascript_include_tag "jquery.placeholder" %>
<%= javascript_include_tag "back-to-top" %>
<%= javascript_include_tag "bootstrap-hover-dropdown.min" %>
<%= javascript_include_tag "bootstrap.min" %>
<%= javascript_include_tag "main" %>

</body>
</html>