<!DOCTYPE html>
<html lang="en">
<head>
  <title>Schoolette</title>
  <!-- Meta -->
  <meta charset="utf-8">
  <meta http-equiv="X-UA-Compatible" content="IE=edge">
  <meta name="viewport" content="width=device-width, initial-scale=1.0">
  <meta name="description" content="">
  <meta name="author" content="">
  <link rel="shortcut icon" href="favicon.ico">
  <link href="http://fonts.googleapis.com/css?family=Roboto:400,400italic,500,500italic,700,700italic,900,900italic,300italic,300" rel="stylesheet" type="text/css">
  <link href="http://fonts.googleapis.com/css?family=Roboto+Slab:400,700,300,100" rel="stylesheet" type="text/css">
  <!-- Global CSS -->
  <%= stylesheet_link_tag "bootstrap.min" %>
  <!-- Plugins CSS -->
  <%= stylesheet_link_tag "font-awesome" %>
  <%= stylesheet_link_tag "flexslider" %>
  <!-- Theme CSS -->
  <%= stylesheet_link_tag "styles" %>
  <!-- HTML5 shim and Respond.js for IE8 support of HTML5 elements and media queries -->
  <!--[if lt IE 9]>
  <script src="https://oss.maxcdn.com/html5shiv/3.7.2/html5shiv.min.js"></script>
  <script src="https://oss.maxcdn.com/respond/1.4.2/respond.min.js"></script>
  <![endif]-->
  <%= javascript_include_tag "jquery.min" %>
  <script id="twitter-wjs" src="http://platform.twitter.com/widgets.js"></script><script async="" src="//www.google-analytics.com/analytics.js"></script>
  <script>
      (function(i,s,o,g,r,a,m){i['GoogleAnalyticsObject']=r;i[r]=i[r]||function(){
                  (i[r].q=i[r].q||[]).push(arguments)},i[r].l=1*new Date();a=s.createElement(o),
              m=s.getElementsByTagName(o)[0];a.async=1;a.src=g;m.parentNode.insertBefore(a,m)
      })(window,document,'script','//www.google-analytics.com/analytics.js','ga');

      ga('create', 'UA-24707561-18', 'auto');
      ga('send', 'pageview');

  </script>
  <script type="text/javascript" charset="utf-8" async="" src="https://platform.twitter.com/js/button.aec556e1a316f63b43fda3ae1e6a3e10.js"></script>
</head>


<body class="login-page access-page has-full-screen-bg">
<div class="upper-wrapper">
  <!-- ******HEADER****** -->
  <header class="header">
    <div class="container">
      <h1 class="logo">
        <a href="/"><span class="logo-icon"></span><span class="text">Schoolette</span></a>
      </h1><!--//logo-->

    </div><!--//container-->
  </header><!--//header-->

  <!-- ******Login Section****** -->
  <section class="login-section access-section section">
    <div class="container">
      <div class="row">
        <div class="form-box col-md-8 col-sm-12 col-xs-12 col-md-offset-2 col-sm-offset-0 xs-offset-0">
          <div class="form-box-inner">
            <h2 class="title text-center">Log in to Schoolette</h2>
            <div class="row">
              <div class="form-container col-md-5 col-sm-12 col-xs-12">
                <form class="login-form" action="/login" method="post">
                  <div class="form-group email">
                    <label class="sr-only" for="login-email">Email or username</label>
                    <input id="login-email" name="session[email]" type="email" class="form-control login-email" placeholder="Email or username">
                  </div><!--//form-group-->
                  <div class="form-group password">
                    <label class="sr-only" for="login-password">Password</label>
                    <input id="login-password" name="session[password]" type="password" class="form-control login-password" placeholder="Password">
                    <p class="forgot-password"><a href="resetpassword">Forgot password?</a></p>
                  </div><!--//form-group-->
                  <button type="submit" class="btn btn-block btn-cta-primary">Log in</button>
                  <div class="checkbox remember">
                    <label>
                      <input type="checkbox"> Remember me
                    </label>
                  </div><!--//checkbox-->
                  <p class="lead">Don't have a Schoolette account yet? <br><a class="signup-link" href="signup">Create your account now</a></p>
                </form>
              </div><!--//form-container-->
              <div class="social-btns col-md-5 col-sm-12 col-xs-12 col-md-offset-1 col-sm-offset-0 col-sm-offset-0">
                <div class="divider"><span>Or</span></div>
                <ul class="list-unstyled social-login">
                  <li><button class="twitter-btn btn" type="button"><i class="fa fa-twitter"></i>Log in with Twitter</button></li>
                  <li><button class="facebook-btn btn" type="button"><i class="fa fa-facebook"></i>Log in with Facebook</button></li>
                  <li><button class="google-btn btn" type="button"><i class="fa fa-google-plus"></i>Log in with Google</button></li>
                </ul>
              </div><!--//social-btns-->
            </div><!--//row-->
          </div><!--//form-box-inner-->
        </div><!--//form-box-->
      </div><!--//row-->
    </div><!--//container-->
  </section><!--//contact-section-->
</div>
<%= javascript_include_tag "main" %>

<script src="https://maps.googleapis.com/maps/api/js?key=AIzaSyC8KAKYbdvvLRgEPEipKSCvXv7FIketb-g&signed_in=true&libraries=places&callback=initAutocomplete" async defer></script>
<%= javascript_include_tag "jquery.flexslider-min" %>
<%= javascript_include_tag "jquery.placeholder" %>
<%= javascript_include_tag "back-to-top" %>
<%= javascript_include_tag "bootstrap-hover-dropdown.min" %>
<%= javascript_include_tag "bootstrap.min" %>
</body>
</html>